---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.frontlinkurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

	{% include tag_collector.html tag_separator=',' %}
	
	{% assign author = site.authors[post.author] %}

	{% include commentscount.html %}

	   
	
	
	
	{% include authorinfo.html %}
	
	{{ post.excerpt }}
	
	{% if post.content | post_contains_excerpt_tag %}
      <a href="{{ post.url }}">Read more →</a>
    {% endif %}
	
	
	
	
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

